{{define "base"}}
<!DOCTYPE html>
<html>
	<head>
		<title> Welcome GoSidd framework </title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		 <script
		 src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
		<link
		href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css"
		rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.css"
		rel="stylesheet">
		<style type="text/css">
		  .center {
		  					text-align: center; 
		  					margin-left: auto; 
		  					margin-right: auto; 
		  					margin-bottom: auto; 
		  					margin-top: auto;
		  				}
		 </style>
	</head>
	<body>
		    <div class="navbar navbar-static-top navbar-inverse">
		       <div class="navbar-inner">
		       	 <div class="container-fluid">

		       	  	<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
		       	  	<a class="btn btn-navbar" data-toggle="collapse"
		       	  													data-target=".nav-collapse">
		       	  		<span class="icon-bar"></span>
		       	  		<span class="icon-bar"></span>
		       	  		<span class="icon-bar"></span>
		       	  	</a>

		         	 <a class="brand" href="#">GoSidd! Framework</a>

		         	  <!-- Everything you want hidden at 940px or less, place within here -->
		         	 <div class="nav-collapse collapse">
		           		<ul class="nav pull-left">
		           			<li class="active"><a href="/"><i class="icon-home icon-white"></i> Home</a></li>
		           			<li class="divider-vertical"></li>

		           		  {{if .IsLoggedIn}}
		           		   {{$user := .CurrentUser}}
		           		   <li class="dropdown">
		           		   	 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		           		   	 		User <b class="caret"></b>
		           		   	 </a>
		           		   		<ul class="dropdown-menu">
		           		   			<li><a href="/user/preferences">
		           		   				<i class="icon-cog"></i>
		           		   				 Profile
		           		          </a>
		           		       	</li>
		           		   			<li><a href="/logout">
		           		   		    <i class="icon-off"></i> 
		           		   		     Logout 
		           		   		    </a>
		           		   			</li>
		           		   		</ul>
		           		   </li>

		           			 <li class="divider-vertical"></li>

		           		  {{else}}

										<li>
		             			<a href="/login">
		             		  	<i class="icon-signout icon-white"></i>	
		             				 Login 
		             			</a>
		             		</li>
		           			<li class="divider-vertical"></li>
		             		<li>
		             			<a href="/users/new">
		             		  	<i class="icon-user icon-white"></i>	
		             				Sign up
		             			</a>
		             		</li>

		           			<li class="divider-vertical"></li>

		             		{{end}}

		           		</ul>
									  
		           </div>

		         </div>
		       </div>
		    </div>
		    
			{{template "content" .}}

	</body>
</html>
{{end}}
