{{define "content"}}
			<div class="hero-unit center">
					<h1> {{.GetFromStash "message"}} </h1>
					<p> This is a glued together web framework like web app build with 
							<b> golang </b> and <b> gorilla framework </b>
					</p>
			</div>

{{end}}
