<!DOCTYPE html>
<html>
	<head>
		<title> Welcome GoSidd framework </title>
		<link
		href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"
		rel="stylesheet">
		<style type="text/css">
		  .center {
		  					text-align: center; 
		  					margin-left: auto; 
		  					margin-right: auto; 
		  					margin-bottom: auto; 
		  					margin-top: auto;
		  				}
		 </style>
	</head>
	<body>
			<div class="hero-unit center">
					<h1> {{.Message}} </h1>
					<p> This is a glued together web framework like web app build with 
							<b> golang </b> and <b> gorilla framework </b>
					</p>
			</div>
	</body>
</html>
